<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a href="">
            <img class="logo" src="assets/arvore.jpeg" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/">
            Aplicação Angular / 
        </a>
    </span>
    <span>
        <a routerLink="{{ routerUrl }}" class="link">
            <i class="material-icons">{{ icon }}</i>
        </a>
    </span>
    <span>
        <a routerLink="{{ routerUrl }}" class="link">
            {{ title }}
        </a>
    </span>
</mat-toolbar>
